#about {
  height: auto;
  background-color: $about-bg;

  @include min(768) {
    // background-image: url('../images/portpic.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }

  @include min(890) {
    height: 100vh;

    @include max-height(895) {
      height: auto;
      padding-bottom: 20px;
    }
  }

  #bio {
    @include min(768) {
      float: right;
      padding: 20px;
      margin-top: 50px;
      margin-right: 200px;
      width: 500px;
      background-color: $bio-bg;
      border: 1px solid $bio-border-color;
    }

    p {
      padding: 5px;
      font-size: 1.6em;
      line-height: 150%;
      color: $font-black;

      @include fonts($bio-font, $bio-font-wt);

      @include min(768) {
        color: $bio-font-color;
      }

      @include min(900) {
        font-size: 1.4em;
      }
    }
  }
}

