#about {
  height: auto;
  background-color: $about-bg;
  background-image: url('../images/portpic.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  @include min(890) {
    height: 100vh;
  }

  #bio {
    float: right;
    padding: 20px;
    margin-top: 50px;
    margin-right: 200px;
    width: 500px;
    background-color: $bio-bg;
    border: 2px solid $bio-border-color;

    p {
      padding: 5px;
      font-size: 1.6em;
      line-height: 150%;
      color: $bio-font-color;

      @include fonts($bio-font);

      @include min(900) {
        font-size: 1.4em;
      }
    }
  }
}

