#about {
  height: auto;
  background-color: $about-bg;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  @include min(1130) {
    flex-wrap: nowrap;
  }

  @include min(1130) {
    height: 100vh;

    @include max-height(895) {
      height: auto;
      padding-bottom: 20px;
    }
  }

  img {
    margin: 50px auto;
    box-shadow: 0 0 5px $self-pic-box-shadow;
  }

  #bio {
    @include min(768) {
      padding: 20px;
    }

    @include min(1130) {
      // margin-top: 30px;
      margin-right: auto;
      width: 500px;
      background-color: $bio-bg;
      border: 1px solid $bio-border-color;
    }

    @include min(1400) {
      margin-right: 200px;
    }

    p {
      padding: 5px;
      font-size: 1.6em;
      line-height: 150%;
      color: $font-black;

      @include fonts($bio-font, $bio-font-wt);

      @include min(1130) {
        color: $bio-font-color;
      }

      @include min(900) {
        font-size: 1.4em;
      }
    }
  }
}

