/* -page -- about
================================ */

#about {
  height: auto;

  @include min(890) {
    height: 100vh;
  }

  @include min(900) {
    padding-top: 12vh;
  }

  .wrapper {
    border-radius: 5%;
  }

  #bio {
    @include min(1400) {
      padding-top: 6vw;
    }

    p {
      padding: 5px;
      font-size: 1.6em;
      line-height: 150%;
      color: $about-font-color;

      @include fonts($bio-font);

      @include min(900) {
        font-size: 1.4em;
      }
    }
  }

  .image-wrap {
    width: 70%;
    height: auto;
    padding-bottom: 10px;
    margin: 5px auto 20px;
    background-color: $about-image-wrapper;

    #portpic {
      max-width: 100%;
      padding: 10px 10px 20px;
      box-shadow: 0 10px 20px -15px $port-pic-border;
    }

    @include min(768) {
      float: left;
      width: 20%;
      margin-right: 20px;
    }
  }

  .lists {
    float: left;

    div {
      width: 40%;
      display: inline-block;
      float: left;
      margin-right: 30px;
    }
  }
}

a img {
  max-width: 80%;
  max-height: 80px;
}

