* {
  box-sizing: border-box;
}

a:hover,
a:visited,
a:focus {
  text-decoration: none;
}

.container-fluid {
  padding: 0;
  overflow-x: hidden;

  /*fixes right gap on ios devices*/
}

.tmpclear {
  clear: none;

  @include min(890) {
    clear: both;
  }
}

/* -for scrollspy
================================ */
body {
  position: relative;
}

/* -set padding for all sections except landing
================================ */
#about,
#contact,
#portfolio {
  height: auto;
  padding-top: 60px;
  overflow-y: hidden;
}

/* -make sure pages clear each other
================================ */
.page {
  clear: both;
}
