/* -footer
================================ */
footer.navbar-default.navbar-fixed-bottom {
  padding: 7px 0 10px;
  margin: 0;
  clear: both;
  color: $copyright-color;
  background: $main-grad;
  background-color: $footer-bg;

  .refs {
    font-size: 1.2em;
    padding-left: 30px;

    a,
    i {
      color: $ref-text;
    }

    a {
      padding-left: 8px;
      margin-right: 7px;
    }
  }

  .copyright {
    float: right;
    cursor: default;
    user-select: none;
    text-align: right;

    h5 {
      padding-top: 2px;
      padding-right: 10px;
      margin: 0;
      font-size: 0.9em;

      @include min(768) {
        font-size: 1.2em;
      }
    }
  }
}
