#landing {
  position: relative;
  padding: 0;
  background-image: $landing-radial-grad, url("../images/mountains.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;

  @include max(890) {
    height: 50vh;
  }

  @include min(890) {
    height: 100vh;
  }

  .title {
    position: absolute;
    top: 35%;
    left: 40px;
    font-size: 38px;
    color: $title-font-color;

    @include fonts($title-font, $title-font-wt);

    @include min(500) {
      font-size: 45px;
      letter-spacing: 0.4em;
    }

    @include min(900) {
      top: 35%;
      left: 15%;
      font-size: 92px;
      letter-spacing: 0.6em;
    }
  }
}
