@mixin fonts($font-stack, $font-weight: 400) {
  font-family: $font-stack;
  font-weight: $font-weight;
}

@mixin max($max) {
  @media (max-width: $max + "px") {
    @content;
  }
}

@mixin min($min) {
  @media (min-width: $min + "px") {
    @content;
  }
}

@mixin between($min, $max) {
  @media (min-width: $min + "px") and (max-width: $max + "px") {
    @content;
  }
}

@mixin make-background($id, $url) {
    ##{$id} {
        background-image: url($url);

        @extend %tech-background;
    }

    &.big-item {
        #{$id} {
            @extend %big-item-tech-background;
        }
    }
}
