#main-nav {
  h1 {
    font-size: 2em;

    @include fonts($navbar-font, $navbar-font-weight);
  }

  &.inbody {
    background: $main-grad;
    background-color: $full-nav-bg;
    box-shadow: 0 0 7px $navbar-box-shadow;
  }
}

ul {
  padding: 0 5%;
  margin: 0;
}

.navbar-nav {
  bottom: 0;
}

.collapse.in,
nav .collapsing {
  background-color: $collapsing-menu-bg;
  border: 0;
}

.navbar-default {
  padding: 0;
  background-color: transparent;
  border-bottom: 0;

  .navbar-nav {
    > li {
      > a,
      > a:visited {
        font-size: 1.8em;
        font-variant: bold;
        color: $nav-links;
        transition: color 0.5s;

        @include fonts($navbar-font, $navbar-font-weight);
      }

      > a:hover {
        color: $nav-hover-color;
      }
    }

    > .active {
      > a {
        background-color: transparent;
        border-bottom: 2px solid $active-border-bottom;
        padding-bottom: 8px;
      }

      > a:hover,
      > a:focus {
        color: $active-link-hover;
        background-color: transparent;
      }
    }
  }

  .navbar-brand {
    color: $brand-color;
    margin: 0 0 10px;
    transition: color 0.5s;

    &:hover {
      color: $brand-hover-color;
      cursor: default;
    }
  }

  .navbar-toggle {
    border-color: $nav-toggle-border;

    .icon-bar {
      background-color: $nav-toggle-inner-bars;
    }

    &:hover,
    &:focus {
      background-color: $nav-toggle-hover-bg;
    }
  }
}
