#portfolio {
  min-height: 50vh;
  user-select: none;
  padding-left: 5px;
  padding-right: 5px;
  background-color: $portfolio-bg;

  .open-filter-panel {
    position: relative;
    top: 10px;
    left: 83vw;
    font-size: 2em;
    width: auto;
    color: $open-filter-panel;
    @include fonts($filter-panel-font, $filter-panel-font-wt);

    @include min(890) {
      left: 87vw;
    }
  }

  .sort-buttons {
    margin: 0 auto;
    list-style-type: none;
    background-color: white;
    height: 100%;
    width: 200px;
    padding: 20px;
    position: fixed;
    left: -999px;
    top: 50px;
    z-index: 10;
    overflow-y: scroll;

    @include fonts($sort-button-font, $sort-button-font-wt);

    li:nth-child(2) {
      margin-top: 30px;
    }

    .sort-item {
      font-size: 1em;
      padding: 2px;
      margin: 4px 0;

      &.active {
        background-color: $sort-btn-active-bg;
      }

      &:hover {
        cursor: pointer;
        background-color: $sort-btn-hover-bg;
      }

      a {
        margin: 0;
        color: $sort-btn;

        &:hover {
          color: $sort-btn;
        }
      }

      @include min(768) {
        font-size: 1.4em;
        padding: 5px;
      }
    }

    .close-sort-btn {
      float: right;
      letter-spacing: 2px;
      clear: left;
    }

    @include min(768) {
      height: 95vh;
    }
  }

  @include min(890) {
    min-height: 100vh;
  }

  .grid {
    padding-top: 20px;
    margin: 0 auto;

    .grid-sizer,
    .grid-item {
      width: 97vw;
      height: 80px;
      @include min(768) {
        height: 360px;
        width: 360px;
      }
    }

    .grid-item {
      float: left;
      border-radius: 5px;
      margin-bottom: 5px;
      padding: 10px auto;
      overflow: hidden;

      $list: game-of-life meteorite-strike-map freecodecamp-leaderboard markdown-previewer file-metadata-microservice image-search-abstraction-layer url-shortener request-header-parser wikipedia-viewer timestamp-microservice recipe-box force-directed-graph twitchtv-viewer forecast-app quote-generator histogram scatterplot heatmap;

      @each $id in $list {
        @include make-background(#{$id}, "../images/#{$id}.png");
      }

      &:hover {
        background-image: $grid-item-hover-grad;
      }

      /* clearfix */
      &::after {
        content: '';
        display: block;
        clear: both;
      }

      a {
        user-select: none;
        display: none;
      }

      p {
        font-size: 1em;
        display: none;
        padding: 10px;

        @include min(768) {
          font-size: 1.2em;
        }
      }

      h3 {
        margin: 0;
        font-size: 1.2em;
        color: $grid-item-title-color-mobile;
        background-color: $project-title-bg;
        width: auto;
        display: inline-block;
        padding: 2px 4px;

        @include min(768) {
          font-size: 1.4em;
          color: $grid-item-title-color-desktop;
          background-color: transparent;
        }
      }

      h3,
      p,
      a {
        user-select: none;
      }

      .description {
        padding: 10px 10px 0;
        background-image: $grid-item-mobile-image;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 2;
        color: $portfolio-item-description-font-mobile;

        @include fonts($description-font, $description-font-wt);

        @include min(768) {
          border-bottom: 1px dotted $project-border-color;
          color: $portfolio-item-description-font-desktop;
          background-color: $portfolio-item-bg;
          height: auto;
          position: relative;
        }
      }

      .techs {
        clear: both;
        display: none;
        font-style: italic;
        margin: 3px auto 0;
        padding-bottom: 5px;

        @include fonts($tech-font, $tech-font-wt);

        span {
          color: $tech-list-font-color-mobile;
        }

        @include min(768) {
          display: block;
        }
      }

      &.big-item {
        user-select: none;
        height: 180px;
        text-align: center;

        @include min(768) {
          width: 735px;
          height: 740px;
        }

        h3 {
          display: block;
          background-color: transparent;
          color: $grid-item-title-color-mobile-big;

          @include min(768) {
            color: $grid-item-title-color-desktop;
          }
        }

        a {
          display: inline;
        }

        p {
          display: inline;
        }

        .techs {
          display: block;

          span {
            color: $tech-list-font-color-mobile-big;

            @include min(768) {
              color: $tech-list-font-color-desktop;
            }
          }

          &::before {
            content: "Uses ";
          }
        }

        .project-links-bar {
          background-color: $project-links-background-color;
          margin-left: 0;
          margin-bottom: 0;
          width: 100%;

          @include min(768) {
            position: absolute;
            top: 360px;
            opacity: 0;
            transition: opacity 0.3s;
          }

          .project-link,
          .github-link {
            color: $check-it-out;
            font-size: 1em;
            background-color: $project-link-button-background-color;

            @include fonts($project-links-font, $project-links-font-wt)

            &:hover {
              background-color: $project-link-button-background-color-hover;
            }

            @include min(768) {
              font-size: 1.2em;
            }
          }
        }

        &:hover .project-links-bar {
          opacity: 1;
        }
      }

      @include min(890) {
        margin-bottom: 18px;
      }
    }
  }
}

%tech-background {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  transition: all 0.2s;
  position: absolute;
  top: 0;
  left: 0;

  &:hover {
    cursor: pointer;
  }

  @include min(768) {
    position: relative;
  }
}

%big-item-tech-background {
  @include max(768) {
    filter: blur(1px) brightness(0.5);
  }
}
