/* -page - -portfolio
================================ */
#portfolio {
  min-height: 50vh;
  user-select: none;

  @include min(890) {
    min-height: 100vh;
  }

  .grid {
    padding-top: 20px;
    margin: 0 auto;

    .gutter-sizer {
      width: 5px;
    }

    .grid-sizer,
    .grid-item {
      width: 100vw;
      height: 200px;

      @include min(890) {
        width: 360px;
        height: 360px;
      }
    }

    .grid-item {
      float: left;
      border: 2px solid #333;
      border-color: hsla(0, 0%, 0%, 0.5);
      border-radius: 5px;
      margin-bottom: 5px;
      padding: 10px auto;
      color: $portfolio-item-description-font;
      overflow: hidden;
      background-color: $portfolio-item-bg;

      $list: game-of-life meteorite-strike-map freecodecamp-leaderboard markdown-previewer file-metadata-microservice image-search-abstraction-layer url-shortener request-header-parser wikipedia-viewer timestamp-microservice recipe-box force-directed-graph twitchtv-viewer forecast-app quote-generator histogram scatterplot heatmap;

      @each $id in $list {
        @include make-background(#{$id}, "../images/#{$id}.png");
      }

      &:hover {
        background-color: $portfolio-item-bg-hover;
      }

      /* clearfix */
      &::after {
        content: '';
        display: block;
        clear: both;
      }

      a {
        user-select: none;
        display: none;
      }

      p {
        font-size: 1.2em;
        display: none;
        padding: 10px;
      }

      h3,
      p,
      a {
        user-select: none;
      }

      .description {
        padding: 0 10px 8px;
      }

      .techs {
        clear: both;
        display: block;
        font-style: italic;

        $techs: react d3js express nodejs rxjs mongodb mongoose bootstrap handlebars toastr codemirror jquery;
      }

      &.big-item {
        user-select: none;
        height: 100vw;
        width: 100vw;

        @include min(890) {
          width: 725px;
          height: 725px;
        }

        a {
          display: inline;
        }

        p {
          display: inline;
        }
      }
    }
  }
}

%tech-background {
  width: 100%;
  height: 100%;
  background-size: 130% 110%;
  background-repeat: no-repeat;
  background-position: left;
  transition: all 0.2s;
}

%big-item-tech-background {
  background-size: 120% 80%;
}