/* Font delcarations
================================ */

@import url(https://fonts.googleapis.com/css?family=Merriweather|Josefin+Slab:700,600|Comfortaa);
$merriweather: "Merriweather", serif;
$josefin: "Josefin Slab", serif;
$comfortaa: "Comfortaa", sans-serif;

/* Font assignments
================================ */

$navbar-font: $comfortaa;
$navbar-font-weight: 600;
$title-font: $comfortaa;
$reference-link-font: $comfortaa;
$bio-font: $merriweather;
$contact-heading-font: $comfortaa;
$contact-heading-font-weight: 700;
$form-font: $comfortaa;
$form-font-weight: 600;
$description-heading-font: $josefin;
$description-heading-font-wt: 700;
$description-text-font: $merriweather;

/* Color declarations
================================ */

$font-white: #eee;
$font-black: #555;
$light-green: #eaf9c1;
$olive-green: #a2ad86;
$light-grey: #ddd;

$dark-green: #2f4525;
$deep-blue: #332cff;
$deep-green: #37850d;
$deep-orange: #c34714;
$dark-orange: #452513;
$sandy-orange: #522c17;
$transparent-black: rgba(25, 25, 25, 0.8);
$dark-urple: #332327;
$light-urple: rgba(69, 47, 53, 0.9);
$light-pink: rgba(218, 178, 143, 0.38);
$dark-grey: #5d5d5d;
$dull-green: #909a54;
$steelblue: #4682b4;

$adobe-white: #F0ECD9;
$green-briar: #787450;
$cool-camel: #A6976D;
$phantom-mist: #4B4643;
$apple-a-day: #7F4146;

$zebra-grass: #9DA186;
$olive-wood: #6F6248;
$pinch-of-pistachio: #DCDCCC;
$antique-white: #EEEFE5;
$gypsum: #EDEDE4;

$azalea-leaf: rgb(85, 103, 112);
$knights-armor: #5d5d5d;
$gothic-amethyst: #9b8a91;
$balanced: #d4d1d0;
$radisson: #E5E6E5;

$vining-ivy: #5B7479;
$side-kick: #BFC2AD;
$muddy-river: #6B5E41;
$sweet-spiceberry: #6E4740;

$storm-green: #537355;
$button-red: #331B1C;
$sassy-green: #29302B;
$mauve-purple: #3D2431;

// SASS style sheet */
// Palette color codes */
// Palette URL: http://paletton.com/#uid=55c0u0kaP9p7IlS97gbhC8Gn46X */
$rgba-primary-0: rgba( 61, 40, 51,1);   // Main Primary color */
$rgba-primary-1: rgba(142,108,126,1);
$rgba-primary-2: rgba(105, 75, 91,1);
$rgba-primary-3: rgba( 56, 25, 42,1);
$rgba-primary-4: rgba( 45, 13, 30,1);

$rgba-secondary-1-0: rgba( 45, 34, 50,1);   // Main Secondary color (1) */
$rgba-secondary-1-1: rgba(108, 89,116,1);
$rgba-secondary-1-2: rgba( 78, 63, 86,1);
$rgba-secondary-1-3: rgba( 38, 22, 46,1);
$rgba-secondary-1-4: rgba( 29, 12, 37,1);

$rgba-secondary-2-0: rgba( 75, 51, 50,1);   // Main Secondary color (2) */
$rgba-secondary-2-1: rgba(174,134,132,1);
$rgba-secondary-2-2: rgba(129, 94, 92,1);
$rgba-secondary-2-3: rgba( 69, 33, 31,1);
$rgba-secondary-2-4: rgba( 55, 17, 15,1);

/* Color assignments
================================ */

/* Text */

$title-font-color: $font-white;
$ref-text: $font-white;
$nav-links: $font-white;
$nav-hover-color: $rgba-secondary-2-1;
$active-link-hover: $nav-hover-color;
$brand-color: $font-white;
$brand-hover-color: darken($brand-color, 10%);
$copyright-color: $font-white;
$footer-links: $font-white;
$footer-link-hover: $sweet-spiceberry;
$about-font-color: $font-black;
$form-text: $font-white;
$form-button-text: $font-white;
$contact-heading: $font-black;
$form-button-text-hover: $form-button-text;
$description-color: #fff;
$text-shadow: $transparent-black;
$portfolio-item-description-font: $font-white;
$grid-item-title-color: lighten($rgba-secondary-2-1, 60%);
$tech-list-font-color: darken($grid-item-title-color, 10%);
$check-it-out: $font-white;
$sort-btn: $font-black;
$open-filter-panel: $font-black;

/* Borders */

$active-border-bottom: $rgba-secondary-2-1;
$nav-toggle-border: $font-white;
$nav-toggle-inner-bars: $font-white;
$carousel-indicator-border: $dark-grey;
$port-pic-border: $transparent-black;
$web-border: transparentize($transparent-black, 0.5);
$form-box-shadow: transparentize($font-black, 0.3);
$grid-item-border-color: $rgba-primary-4;

/* Section Backgrounds */

$footer-bg: $phantom-mist;
$description-bg: transparentize($font-black, 0.4);
$portfolio-bg: $radisson;
$about-bg: transparentize($gypsum, 0.6);
$contact-bg: transparentize($gypsum, 0.6);

/* Component Backgrounds */

$full-nav-bg: $phantom-mist;
$nav-toggle-hover-bg: lighten($transparent-black, 10%);
$collapsing-menu-bg: $transparent-black;
$about-image-wrapper: #fff;
$portfolio-item-bg: rgba(0,0,0,0.4);
$portfolio-item-bg-hover: lighten($azalea-leaf, 15%);
$form-label-bg: $button-red;
$grid-item-mobile-image: none;
$project-links-background-color: transparent;
$sort-btn-hover-bg: transparentize($font-black, 0.8);
$sort-btn-active-bg: transparentize($font-black, 0.8);

/* Button Backgrounds */

$sort-button-bg: $mauve-purple;
$sort-button-bg-hover: lighten($sort-button-bg, 15%);
$form-button-bg: $button-red;
$form-button-hover-bg: lighten($form-button-bg, 10%);
$project-link-button-background-color: lighten($mauve-purple, 5%);
$project-link-button-background-color-hover: lighten($project-link-button-background-color, 10%);

/* Gradients
================================ */

$main-grad: linear-gradient(to right, lighten($sassy-green, 10%) 0%, $sassy-green 100%);
$landing-radial-grad: radial-gradient(circle at 0 0, transparentize($light-urple, 0.5) 10%, transparent 100%);
$grid-item-grad: linear-gradient(to bottom, $rgba-primary-2 0%, $rgba-primary-1 100%);
$grid-item-hover-grad: linear-gradient(to bottom, $rgba-primary-0 0%, $rgba-primary-1 100%);

/* Box Shadows
================================ */

$sort-button-box-shadow: lighten($sort-button-bg, 10%);
$sort-button-box-shadow-inset: inset 0 0 18px 2px $sort-button-box-shadow;

$project-link-button-box-shadow: lighten($project-link-button-background-color, 10%);
$project-link-button-box-shadow-inset: inset 0 0 18px 2px $project-link-button-box-shadow;
