/* Font delcarations
================================ */

@import 'https://fonts.googleapis.com/css?family=Anonymous+Pro:700|Caveat|Jaldi:400|Merriweather:300';
$merriweather: "Merriweather", serif;
$anonymous-pro: "Anonymous Pro", sans-serif;
$caveat: "Caveat", sans-serif;
$jaldi: "Jaldi", sans-serif;

/* Font assignments
================================ */

$navbar-font: $jaldi;
$navbar-font-weight: 400;
$first-name-font: $anonymous-pro;
$first-name-font-wt: 200;
$last-name-font: $caveat;
$last-name-font-wt: 200;
$title-font: $jaldi;
$title-font-wt: 200;
$bio-font: $merriweather;
$bio-font-wt: 300;
$filter-panel-font: $jaldi;
$filter-panel-font-wt: 200;
$sort-button-font: $jaldi;
$sort-button-font-wt: 200;
$description-font: $merriweather;
$description-font-wt: 200;
$tech-font: $merriweather;
$tech-font-wt: 200;
$project-links-font: $jaldi;
$project-links-font-wt: 400;
$contact-heading-font: $merriweather;
$contact-heading-font-weight: 400;
$form-font: $jaldi;
$form-font-weight: 200;
$copyright-font: $jaldi;
$copyright-font-wt: 400;
$refs-font: $jaldi;
$refs-font-wt: 400;

/* Color declarations
================================ */

$font-white: #eee;
$transparent-white: rgba(255,255,255,0.8);
$font-black: #555;
$transparent-black: rgba(25, 25, 25, 0.8);
$phantom-mist: #4b4643;
$gypsum: #edede4;
$radisson: #e5e6e5;
$sassy-green: #29302b;

$rgba-primary-0: rgba(61, 40, 51, 1);
$rgba-primary-1: rgba(142, 108, 126, 1);
$rgba-primary-2: rgba(105, 75, 91, 1);
$rgba-primary-3: rgba(56, 25, 42, 1);
$rgba-primary-4: rgba(45, 13, 30, 1);

$rgba-secondary-1-0: rgba(45, 34, 50, 1);
$rgba-secondary-1-1: rgba(108, 89, 116, 1);
$rgba-secondary-1-2: rgba(78, 63, 86, 1);
$rgba-secondary-1-3: rgba(38, 22, 46, 1);
$rgba-secondary-1-4: rgba(29, 12, 37, 1);

$rgba-secondary-2-0: rgba(75, 51, 50, 1);
$rgba-secondary-2-1: rgba(174, 134, 132, 1);
$rgba-secondary-2-2: rgba(129, 94, 92, 1);
$rgba-secondary-2-3: rgba(69, 33, 31, 1);
$rgba-secondary-2-4: rgba(55, 17, 15, 1);

/* Color assignments
================================ */

/* Text */

$title-font-color: $font-black;
$nav-links: $font-black;
$nav-hover-color: darken($rgba-secondary-2-1, 10%);
$active-link-hover: $nav-hover-color;
$nav-links-inbody: $font-white;
$brand-color: $font-black;
$brand-color-inbody: $font-white;
$brand-hover-color: lighten($rgba-secondary-2-1, 10%);
$copyright-color: $font-white;
$ref-text: $font-white;
$ref-text-hover: lighten($rgba-secondary-2-1, 10%);
$bio-font-color: $font-white;
$form-text: $font-white;
$form-button-text: $font-white;
$contact-heading: $font-black;
$form-button-text-hover: $form-button-text;
$portfolio-item-description-font-mobile: $font-white;
$portfolio-item-description-font-desktop: $font-black;
$grid-item-title-color-mobile: $font-black;
$grid-item-title-color-mobile-big: $font-white;
$grid-item-title-color-desktop: $font-black;
$tech-list-font-color-mobile: darken($grid-item-title-color-mobile, 10%);
$tech-list-font-color-mobile-big: white;
$tech-list-font-color-desktop: lighten($grid-item-title-color-desktop, 10%);
$check-it-out: $font-white;
$sort-btn: $font-black;
$open-filter-panel: $font-black;

/* Borders */

$active-border-bottom: $rgba-secondary-2-1;
$nav-toggle-border: $font-white;
$nav-toggle-inner-bars: $font-white;
$bio-border-color: $rgba-secondary-1-4;
$project-border-color: $rgba-secondary-1-4;
$form-valid-border: green;

/* Section Backgrounds */

$footer-bg: $phantom-mist;
$portfolio-bg: $radisson;
$about-bg: transparentize($gypsum, 0.6);
$contact-bg: transparentize($gypsum, 0.6);

/* Component Backgrounds */

$full-nav-bg: $phantom-mist;
$nav-toggle-hover-bg: lighten($transparent-black, 10%);
$collapsing-menu-bg: $transparent-black;
$portfolio-item-bg: #fff;
$form-label-bg: $rgba-secondary-2-4;
$grid-item-mobile-image: none;
$project-links-background-color: transparent;
$sort-btn-hover-bg: transparentize($font-black, 0.8);
$sort-btn-active-bg: transparentize($font-black, 0.8);
$bio-bg: transparentize($rgba-secondary-1-1, 0.45);
$project-title-bg: $transparent-white;

/* Button Backgrounds */
$form-button-bg: $rgba-secondary-2-4;
$form-button-hover-bg: lighten($form-button-bg, 10%);
$project-link-button-background-color: $rgba-secondary-1-0;
$project-link-button-background-color-hover: lighten($project-link-button-background-color, 10%);

/* Gradients
================================ */

$main-grad: linear-gradient(to right, lighten($sassy-green, 10%) 0%, $sassy-green 100%);
$landing-radial-grad: radial-gradient(circle at 0 0, transparentize($rgba-primary-1, 0.8) 60%, transparentize($rgba-secondary-2-0, 0.7) 100%);
$grid-item-hover-grad: linear-gradient(to bottom, $rgba-primary-0 0%, $rgba-primary-1 100%);

/* Box Shadows
================================ */

$footer-box-shadow: lighten($sassy-green, 10%);
$navbar-box-shadow: lighten($sassy-green, 10%);
$form-invalid-shadow: red;
