/* Font delcarations
================================ */

@import url(https://fonts.googleapis.com/css?family=Merriweather|Josefin+Slab:700,600|Comfortaa);
$merriweather: "Merriweather", serif;
$josefin: "Josefin Slab", serif;
$comfortaa: "Comfortaa", sans-serif;

/* Font assignments
================================ */

$navbar-font: $comfortaa;
$navbar-font-weight: 600;
$title-font: $comfortaa;
$reference-link-font: $comfortaa;
$bio-font: $merriweather;
$contact-heading-font: $comfortaa;
$contact-heading-font-weight: 700;
$form-font: $comfortaa;
$form-font-weight: 600;
$description-heading-font: $josefin;
$description-heading-font-wt: 700;
$description-text-font: $merriweather;

/* Color declarations
================================ */

$font-white: #eee;
$font-black: rgba(0, 0, 0, 0.6);
$light-green: #eaf9c1;
$olive-green: #a2ad86;
$light-grey: #ddd;
$dark-green: #2f4525;
$deep-blue: #332cff;
$deep-green: #37850d;
$deep-orange: #c34714;
$dark-orange: #452513;
$sandy-orange: #522c17;
$transparent-black: rgba(25, 25, 25, 0.8);
$dark-urple: #332327;
$light-urple: rgba(69, 47, 53, 0.9);
$light-pink: rgba(218, 178, 143, 0.38);
$dark-grey: #5d5d5d;
$dull-green: #909a54;
$steelblue: #4682b4;

/* Gradient */

$main-grad: linear-gradient(to right, $light-urple 0%, $dark-urple 100%);
$landing-radial-grad: radial-gradient(circle at 0 0, transparentize($light-urple, 0.5) 10%, transparent 100%);
$grid-item-grad: linear-gradient(to bottom,rgba(125, 185, 232, 1) 0%, rgba(41, 137, 216, 0.84) 52%, rgba(125, 185, 232, 1) 99%, rgba(125, 185, 232, 1) 100%);

/* Color assignments
================================ */

/* Text */

$title-font-color: $font-white;
$ref-text: $font-white;
$nav-links: $font-white;
$nav-hover-color: $light-green;
$brand-color: $font-white;
$brand-hover-color: darken($brand-color, 10%);
$copyright-color: $font-white;
$footer-links: $font-white;
$footer-link-hover: $light-green;
$about-font-color: $font-black;
$form-text: $font-white;
$form-button-text: $font-white;
$active-link-hover: $nav-hover-color;
$carousel-font: $dark-grey;
$contact-heading: $font-black;
$form-button-text-hover: $form-button-text;
$express-font-color: $steelblue;
$linkedin-color: $deep-blue;
$github-color: $deep-green;
$fire-color: $deep-orange;
$description-color: #fff;
$text-shadow: $transparent-black;
$portfolio-item-description-font: $font-white;
$tech-list-font-color: $font-white;

/* Borders */

$active-border-bottom: $olive-green;
$nav-toggle-border: $font-white;
$nav-toggle-inner-bars: $font-white;
$carousel-indicator-border: $dark-grey;
$port-pic-border: $transparent-black;
$web-border: transparentize($transparent-black, 0.5);
$form-box-shadow: transparentize($font-black, 0.3);
$grid-item-border-color: $transparent-black;

/* Backgrounds */

$footer-bg: $dark-orange;
$form-button-bg: $dark-green;
$form-label-bg: $dark-green;
$nav-toggle-hover-bg: lighten($transparent-black, 10%);
$collapsing-menu-bg: $transparent-black;
$full-nav-bg: $dark-orange;
$carousel-bg: $light-grey;
$carousel-indicator-bg: $dark-grey;
$carousel-active-bg: $font-white;
$form-button-hover-bg: lighten($form-button-bg, 10%);
$about-image-wrapper: #fff;
$fa-bg: $transparent-black;
$description-bg: transparentize($font-black, 0.4);
$portfolio-item-bg: lighten($dark-urple, 10%);
$portfolio-item-bg-hover: lighten($portfolio-item-bg, 15%);
$sort-button-bg: $steelblue;
$sort-button-bg-hover: lighten($sort-button-bg, 15%);

$sort-button-box-shadow: rgba(235, 235, 235, 0.6);
