$icon-font-path: '../fonts/';
@import "_variables.scss";


* {
  box-sizing: border-box; }

a:hover, a:visited, a:focus {
  text-decoration: none; }

.container-fluid {
  padding: 0;
  overflow-x: hidden; /*fixes right gap on ios devices*/}

.tmpclear {
  clear: none; }

/* For scrollspy
================================ */
body {
  position: relative;
}

/* Set padding for all sections except landing
================================ */
#about, #contact, #portfolio {
  overflow-y: hidden;
  padding-top: 60px;
  height: auto;
}

/* Make sure pages clear each other
================================ */
.page {
  clear: both; }

/* Navigation
================================ */
nav.navbar {
  h1 {
    font-size: 2em;
    @include fonts($navbarFont, $navbarFontWeight);
  }
}

nav ul {
  margin: 0;
  padding: 0 5%; }

nav.navbar-nav {
  bottom: 0; }

nav.navbar-default {
  padding: 0;
  background-color: transparent;
  border-bottom: none; }

nav h1.navbar-brand {
  margin: 0 0 10px 0; }

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:visited {
  color: $navLinks;
  @include fonts($navbarFont, $navbarFontWeight);
  font-variant: bold;
  font-size: 1.8em;
}

.navbar-default .navbar-nav > li > a:hover {
  color: $navHoverColor; }

.navbar-default .navbar-nav > .active > a {
  background-color: transparent;
  border-bottom: 2px solid $activeBorderBottom;
}

.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: transparent;
  color: $activeLinkHover;
}

.navbar-default .navbar-brand {
  color: $brandColor; }

.navbar-default .navbar-brand:hover {
  color: $brandHoverColor;
  cursor: default; }

nav div.collapse.in, nav div.collapsing {
  background-color: $collapsingMenuBG;
  border: none; }

.navbar-default .navbar-toggle {
  border-color: $navToggleBorder;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: $navToggleInnerBars; }

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: $navToggleHoverBG;
}

nav.inbody {
  background-color: $fullNavBG;
  background: $mainGrad;
}



/* Page -- landing
================================ */
#landing {
  background-image: $landingRadialGrad, url("https://dl.dropboxusercontent.com/u/4223104/images/landingbg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  position: relative;
  padding: 0;

  h1.title {
    @include fonts($titleFont);
    font-size: 38px;
    color: $titleFontColor;
    top: 35%;
    left: 40px;
    position: absolute;
  }
}

.fa-linkedin{
  color: $linkedinColor;
}

.fa-github{
  color: $githubColor;
}

.fa-fire{
  color: $fireColor;
}




/* Page -- about
================================ */

#about {
  height: auto;
}

#about .wrapper{
  border-radius: 5%;
}

#about #bio p {
  font-size: 1.6em;
  line-height: 150%;
  @include fonts($bioFont);
  color: $aboutFontColor;
  padding: 5px;
}

img#portpic {
  width: 100%;
  padding: 10px 10px 20px;
  //border-radius: 5% 5% 5% 5%;
  box-shadow: 0 10px 20px -15px $portPicBorder;
}

#about .image-wrap {
  padding-bottom: 10px;
  background-color: $aboutImageWrapper;
  width: 70%;
  height: auto;
  margin: 5px auto 20px;
}

a img {
  max-width: 80%;
  max-height: 80px; }

div.web-wrapper {
  background-color: $aboutImageWrapper;
  clear: left;
  border-radius: 5%;
}

div.web-wrapper .row {
  padding: 10px;
}

div.web {
  text-align: center;
  img, span {
    box-shadow: 0px 7px 15px -10px $webBorder;
  }
   &:last-child{
    padding-top: 6px;
  }
}

div.expressjs {
  font-size: 3em; }

div.expressjs > a {
  text-decoration: none; }

div.expressjs > a:hover {
  color: steelblue; }

/* Page - Portfolio
================================ */
#portfolio {
  min-height: 50vh;
  user-select: none;


}

#portfolio .carousel,
#portfolio .carousel .carousel-inner,
#portfolio .carousel .carousel-inner .item,
#portfolio .carousel .carousel-inner .item .empty {
  height: 100%;

  img{
    width: 100%;
    min-height: 50vh;
  }
}

.empty h3 {
  font-size: 6em;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  color: $carouselFont;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.description {
  height: 100%;
  width: 100%;
  background-color: $descriptionBG;
  padding: 22px 35px;
  color: $descriptionColor;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  //border-radius: 15px;
  h3{
    font-size: 1.2em;
    @include fonts($descriptionHeadingFont, $descriptionHeadingFontWt);
  }
  p{
    font-size: 1em;
    @include fonts($descriptionTextFont);
  }
  //transform: translateX(-50%) translateY(-50%);
}

.empty {
  background-color: $carouselBG;
  height: auto;
  text-align: center;
}

.carousel-indicators li {
  background-color: $carouselIndicatorBG;
  border-color: $carouselIndicatorBorder;
}

.carousel-indicators li.active {
  background-color: $carouselActiveBG; }

/* Page - Contact
================================ */
#contact h2 {
  font-size: 3.5em;
  text-align: center;
  color: $contactHeading;
  @include fonts($ContactHeadingFont, $ContactHeadingFontWeight);
}

form {
  padding-top: 20px;
  margin-bottom: 20px;
  padding-right: 10px;
}

form label {
  font-size: 1.2em;
  text-align: center;
  background-color: $formLabelBG;
  color: $formText;
  padding: 10px 0;
  box-shadow: -4px 4px 7px 1px $formBoxShadow;
}

.form-group {
  margin-bottom: 10px; }

.form-group-lg .form-control {
  font-size: 1.6em; }

.btn-lg {
  padding: 16px 20px;
  background-color: $formButtonBG;
  color: $formButtonText;
  font-size: 1.6em;
  text-transform: uppercase;
  box-shadow: 0px 6px 7px -3px $formBoxShadow;
}

.btn-lg:hover{
  background-color: $formButtonHoverBG;
  color: $formButtonTextHover;
}

.form-group-lg textarea.form-control {
  height: 150px; }

form label, .btn-lg {
   @include fonts($formFont, $formFontWeight);
 }

 #refs {
    margin-left: 20vw;
  i{
    //background-color: $faBG;
    border-radius: 5px;
    padding: 4%;
  }

  .fa{
    text-shadow: 3px 3px 3px $textShadow;
    font-size: 2.3em;
  }

  a {
    color: $refTexts;
    max-width: 25%;
    padding: 0 5px;
    text-align: center;
    span.refs-text {
      @include fonts($referenceLinkFont);
    }
  }
}

/* Footer
================================ */
footer {
  background-color: $footerBG;
  background: $mainGrad;
  color: $CopyrightColor;
  margin: 0;
  padding:7px 0;
  clear: both;
}

footer a, footer a:focus {
  font-size: 1.3em;
  color: $footerLinks;
  padding: 0 10px; }

footer a:hover {
  color: $footerLinkHover; }

footer h5 {
  font-size: 1em;
  margin: 0;
  padding-top: 2px;
  padding-right: 10px; }

.social-links {
  float: left; }

.copyright {
  cursor: default;
  user-select:none;
  float: right; }

.clearme {
  clear: both; }

/**************************
Media queries
**************************/
/* Prevent collapse at less than 890px
================================ */
@media (max-width: 890px) {
  #landing {
    height: 50vh; }
  #contact {
    padding-bottom: 20px; } }

/* Make all pages 100% vh at desktop sizes
================================ */
@media (min-width: 890px) {
  #landing, #about, #portfolio {
    height: 100vh; }
  #contact {
    height: 95vh; }
  #portfolio .description img{
    height: 100%;
    width: 100%;
  }
}

/* font sizing
================================ */
@media (min-width: 500px) {
  #landing h1.title {
    font-size: 45px; }
  #portfolio .description{
    h3{
      margin-top: 36%;
      font-size: 3.6em;
    }
    p{
      font-size: 2em;
    }
  }
}

@media (min-width: 900px) {
  #landing h1.title {
    top: 35%;
    left: 15%;
    font-size: 92px; }
  #about #bio p {
    font-size: 1.4em; }
  #about {
    padding-top: 12vh;
  }
}

@media (min-width: 992px) {
  #refs a .fa{
    font-size: 4rem; }
  #refs a span.refs-text {
    font-size: 2rem; }
  }

@media (min-width: 1200px) {
  div.expressjs {
    font-size: 4em; }
  #refs i{
    padding-top: 2%;
  }
  #refs a .fa{
    font-size: 4.8rem; }
  #refs a span.refs-text {
    font-size: 2.5rem; }
  div.web{
    img, span {
      box-shadow: none;
    }
  }
}

@media (min-width: 1400px) {
  #bio {
    padding-top: 6vw;
  }
}

@media (min-width: 1600px) {
  #refs a .fa{
    font-size: 5.8rem; }
  #refs a span.refs-text {
    font-size: 3.5rem; }
  }

@media (min-width: 900px) {
  /*form*/
  form {
    margin-bottom: 0;
  }
  form label {
    text-align: right;
    font-size: 3em; }
  form .btn-lg {
    font-size: 2.5em; }
  .form-group-lg .form-control {
    margin-top: 10px;
    height: 6rem; }
  .form-group-lg textarea.form-control {
    height: 300px;
    }
  #refs {
    margin-left: 30vw;
    .fa {
      font-size: 3.5em;
    }
  }
}

/* Image sizing
================================ */
@media (min-width: 768px) {
  #about .image-wrap {
    width: 40%;
    float: left;
    margin-right: 20px; } }

/* Center bio stuff @890px
================================ */
@media (min-width: 890px) {
  .tmpclear {
    clear: both; } }

/*# sourceMappingURL=application.css.map */
