#about.container-fluid.page
  .wrapper
    .image-wrap
      img#portpic(alt='Picture of Greg Smith', src='images/portpic.jpg')
    #bio
      P The internet is one of the most powerful and transformative technologies ever created, and the most important component has been the power that creative individuals have over the shape of tomorrow.  Learning, creating, and sharing have never been easier, and I'm excited to be a contributor to what will undoubtedly be an amazing future.
      p I am a web developer with 4 years of commercial experience in interactive sound design for clients such as Orbotix, Tombolo Interactive, and Bolder Games.  Working as "the Audio Guy" within a larger group has shown me the importance of communication and organization when working on any project, and I'd like to bring these lessons to your development team.
      .lists.row
        .list-like.col-xs-6
          h2 Things I like
          ul
            li Reactive programming
            li Readable code
            li A clean workflow
        .list-love.col-xs-6
          h2 Things I Love
          ul
            li Learning new skills
            li Building cool stuff
            li Improving old code
    .tmpclear