#about.container-fluid.page
  #bio
    p I'm a Colorado based web developer who wants to build cool software.
    p I have 4 years of commercial experience in sound design for interactive media.  I've had the pleasure of working with the folks at Sphero and Bolder Games on some great projects.
    p I'm an introvert with a passion for learning, helping the world learn, and the technology that makes it all possible.  I care deeply about the environment, social justice, and animal welfare.

    p I've worked remotely with development teams large and small.  I've spent years tutoring English as a second language to adults.  I have a degree in linguistics.  It's safe to say that I see communication as the fabric of reality.

    p A few of my favorite things: Reactive programming, my heavily customized programming setup, dogs, photography, music
  .tmpclear