#about.container-fluid.page
  .wrapper
    .image-wrap
      img#portpic(alt='Picture of Greg Smith', src='images/portpic.jpg')
    #bio
      p
        | These days a person can use the Internet as an
        | outlet for all sorts of creative endeavors. Whether
        | it’s by selling some crafts, distributing a movie
        | they made, or teaching what they've learned, the
        | importance of the Internet is being constantly
        | redefined by the people using it. We’re
        | experiencing an age of enthusiastic users who are
        | looking at the web and thinking, “This lets me do
        | something great!”. That makes me ecstatic.
      p
        | I’m a Colorado based web developer who believes
        | that with an entire world of knowledge and
        | communication at our fingertips, it’s more
        | important than ever that everybody has the means to
        | explore it. I have a dream of building the software
        | that shapes the future of the web as an accessible
        | portal for any and everyone who wants in. Let me
        | know how I can help you.
      .lists
        .list-like
          h2 Things I like
          ul
            li Reactive Programming
            li Readable Code
            li A Clean Workflow
        .list-love
          h2 Things I Love
          ul
            li Learning
            li Building
            li Improving
    .tmpclear