#about.container-fluid.page
  .wrapper
    .image-wrap
      img#portpic(alt='Picture of Greg Smith', src='images/portpic.jpg')
    #bio

      .lists
        .list-like
          h2 Things I like
          ul
            li Reactive programming
            li Readable code
            li A clean workflow
        .list-love
          h2 Things I Love
          ul
            li Learning new skills
            li Building cool stuff
            li Improving old code
    .tmpclear