#contact.page
    h2 Contact me
    form#email-form.form-horizontal(name='email-form')
      .form-group.form-group-lg
        label.col-xs-3(for='name') Name:
        .col-xs-9
          input#name.form-control(name='name', placeholder='Your name', type='text')
      .form-group.form-group-lg
        label.col-xs-3(for='email') Email:
        .col-xs-9
          input#email.form-control(name='email', placeholder='your@email.com', type='email')
      .form-group.form-group-lg
        label.col-xs-3(for='message') Message:
        .col-xs-9
          textarea#message.form-control(name='message', placeholder='Hello, handsome!')
      .form-group
        .col-xs-offset-3.col-xs-9
          button#send-button.btn.btn-default.btn-lg Send
    #refs.row
      a(href='https://www.linkedin.com/in/smith-gregory', target='_blank')
        i.fa.fa-linkedin
        span.refs-text.hidden-xs.hidden-sm LinkedIn
      a(href='https://github.com/PortableStick', target='_blank')
        i.fa.fa-github
        span.refs-text.hidden-xs.hidden-sm Github
      a(href='http://freecodecamp.com/portablestick', target='_blank')
        i.fa.fa-fire
        span.refs-text.hidden-xs.hidden-sm FreeCodeCamp
