footer.navbar-default.navbar-fixed-bottom
    .row
        .refs.col-xs-6
            a(href="https://github.com/PortableStick", target="_blank")
                i.fa.fa-github
                span.hidden-xs.hidden-sm  Github
            a(href="http://freecodecamp.com/portablestick", target="_blank")
                i.fa.fa-fire
                span.hidden-xs.hidden-sm  freeCodeCamp
            a(href="https://www.linkedin.com/in/smith-gregory", target="_blank")
                i.fa.fa-linkedin
                span.hidden-xs.hidden-sm  LinkedIn
        .copyright.col-xs-2.col-xs-offset-4.pull-right
          h5 ©
            span.current-year
            | Gregory Smith
    .clearme