meta(charset='utf-8')
meta(content='Personal Portfolio', name='description')
meta(content='width=device-width, initial-scale=1', name='viewport')
title Gregory Smith | Web Deveoper
link(href='styles/bundle.css', rel='stylesheet', type="text/css")
link(href='styles/main.min.css', rel='stylesheet', type="text/css")