meta(charset='utf-8')
meta(content='Personal Portfolio', name='description')
meta(content='width=device-width, initial-scale=1', name='viewport')
title Shades of Markup
link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css', rel='stylesheet')
link(href='styles/bundle.css', rel='stylesheet')
link(href='styles/main.min.css', rel='stylesheet')