header
      nav#main-nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
        h1.navbar-brand Greg Smith
        .navbar-header
          button.navbar-toggle(data-target='#collapse', data-toggle='collapse', type='button')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
        #collapse.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li.active
              a(href='#landing') Home
            li
              a(href='#about') About
            li
              a(href='#portfolio') Projects
            li
              a(href='#contact') Contact