#portfolio.container-fluid.page
    .hidden-xs.visible-sm
        .sort-buttons
            for tech in techs
                include tech_button
        .grid
          .grid-sizer
          for project in projects
            include portfolio_item

