#portfolio.container-fluid.page
    .btn.btn-lg.open-filter-panel #[i.fa.fa-filter] #[span.hidden-xs Filter]
    ul.sort-buttons
        .btn.close-sort-btn [x]
        for tech in techs
            include tech_button
    .grid
      .grid-sizer
      for project in projects
        include portfolio_item

