doctype html
html(lang='en')
  head
    include partials/head
  body
    include partials/navigation
    #main.container-fluid.page
      include partials/landing
      include partials/about
      include partials/portfolio
      include partials/contact
    include partials/footer
    script(src='https://use.fontawesome.com/1435929d81.js')
    script(src='scripts/vendor.js')
    script(src='scripts/main.js')
    imclude partials/tracking
